{% extends "base.html" %}

{% from "_render_field.html" import render_error_field %}

{% block head %}
<title>Reset Password</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/reset_style.css')}}">
{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="wrapper">
        <div class="card">
            <form action="{{ url_for('forgot_password') }}" method="POST" class="d-flex flex-column" novalidate>
                {{ form.csrf_token }}
                <div class="h3 text-center text-white">Reset Password</div>
                <div class="d-flex align-items-center input-field my-4 mb-4">
                    <span class="far fa-envelope p-2"></span>
                    {{ form.email(class="form-control", placeholder="Registered Email") }}
                </div>
                {{ render_error_field(form.email) }}
                <div class="my-3">
                    <input type="submit" value="Reset" class="btn btn-primary">
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}