@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}


.row {
  display: flex; 
   position: relative;
    top : 10px;
    left: 5%;
}

.column {
  flex: 30%;
  padding: 50px;
  height: 180px;
  font-size: small;   
}


.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #f5c3c2;
    border: 2px solid ;
}
.btn:hover{
    background: transparent;
    border-color: #e17f93;
    color: #fd4766;
}
.content{
    position: relative;
    top : 50px;
    left: 8%;
}
.content .title{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #eba7ac;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}
p{
  width: 55%;
    color: #757575;
  font-size: 19px;
}
img{
    width: min-content;
    height: min-content;
}